@media (min-width: 851px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  body {
    display: flex;
    background-color: #081b29;
    color: #ededed;
    padding: 0;
    margin: 0;
  }

  /*NAVBAR ANIMATION*/

  @keyframes slideInRight {
    from {
      transform: translateX(300px);
    }
    to {
      transform: translateX(0);
    }
  }

  .nav {
    width: 100%;
    height: fit-content;
    padding: 20px;
    margin: 0;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    animation-name: slideInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
  }

  nav {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* HERO SECTION ANIMATION*/
  @keyframes slideInLeft {
    from {
      transform: translateX(-300px);
    }
    to {
      transform: translateX(0);
    }
  }

  .logo {
    font-size: 25px;
    font-weight: 600;
    color: #ededed;
    text-decoration: none;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    visibility: visible;
  }
  li {
    list-style-type: none;
    text-align: center;
    padding: 10px;
  }
  ul li a {
    text-decoration: none;
    color: #ededed;
    margin-left: 25px;
    transition: 0.3s;
  }
  ul li a:hover {
    color: #00abf0;
    transition: 0.5s;
    margin-right: 8px;
  }
  .herosection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: fit-content;
    margin: auto;
    gap: 50px;

    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0;
  }
  .homeimg {
    height: 100%;
    width: 30%;
  }
  .homeimg img {
    width: 100%;
    height: 100%;
    border-radius: 20%;
    opacity: 0.7;
  }
  .herobio {
    width: 55%;
    height: fit-content;
    align-items: center;
    justify-content: left;
  }
  .herobio h1 {
    font-size: 56px;
    font-weight: 700;
  }
  .herobio h2 {
    font-size: 42px;
    font-weight: 700;
    color: #00abf0;
  }
  .herobio p {
    font-size: 20px;
    margin: 15px 0 30px 0;
  }
  .btn {
    display: flex;
  }
  .herobio button {
    max-width: 200px;
    min-width: 150px;
    height: 50px;
    margin-right: 100px;
    border-radius: 3%;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    border: none;
    transition: 0.5s;
    background-color: rgb(11, 137, 240);
  }
  button:hover {
    cursor: pointer;
    background-color: #00abf0;
    font-weight: bold;
    margin-left: 10px;
  }
  .socials {
    margin-top: 20px;
    height: 40px;
    padding: 20px 0 20px 0;
    width: 40%;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .github:hover {
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.5s;
  }
  .linkedin:hover {
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.5s;
  }
  .twitter:hover {
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
  }
  .socials img {
    width: 30px;
    height: 30px;
  }
  .skills {
    position: relative;
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 30px auto;
    text-align: center;
    gap: 20px;
    /* background-color: aquamarine;*/
  }
  .technologies h2 {
    font-size: 42px;
    font-weight: 700;
    color: #00abf0;
    margin-bottom: 10px;
    margin-top: 30px;
  }

  .skillsimg {
    display: flex;
    gap: 50px;
    margin-top: 30px;
    height: 40px;
    padding: 20px 0 20px 0;
    width: 100;
    justify-content: center;
    align-items: center;
  }
  .htmlicon:hover {
    margin-bottom: 15px;
    transition: 0.5s;
  }
  .cssicon:hover {
    margin-bottom: 15px;
    transition: 0.5s;
  }
  .bootstrapicon:hover {
    margin-bottom: 15px;
    transition: 0.5s;
  }
  .jqueryicon:hover {
    margin-bottom: 15px;
    transition: 0.5s;
  }
  .githubicon:hover {
    margin-bottom: 15px;
    transition: 0.5s;
  }
  .jsicon:hover {
    margin-bottom: 15px;
    transition: 0.5s;
  }
  .reacticon:hover {
    margin-bottom: 15px;
    transition: 0.5s;
  }
  .about {
    width: 80%;
    margin: 50px auto;
    padding: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .about h2 {
    font-size: 32px;
    letter-spacing: 2px;
  }
  .introhead {
    margin: 50px;
  }
  .subtitle {
    color: #00abf0;
  }
  .img-bio {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bioimg {
    width: 30%;
    height: 100%;
  }
  .bioimg img {
    width: 100%;
    height: 100%;
    border-radius: 15%;
    opacity: 0.7;
  }
  .bio {
    font-weight: lighter;
    text-align: left;
    width: 50%;
    height: 100%;
  }
  .bio button {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    border-radius: 3%;
    text-align: center;
    letter-spacing: 1px;
    border: none;
    transition: 0.5s;
  }
  .portfolio {
    width: 80%;
    margin: auto;
    padding: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .project {
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    height: fit-content;
    margin-bottom: 30px;
    border: 2px solid rgb(37, 135, 201);
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
  }
  .projectimage {
    width: 300px;
    height: 200px;
    border-radius: 5px;
  }
  .project-left {
    width: 30%;
  }
  .project-right {
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 15px;
  }
  .portfolio h2 {
    font-size: 32px;
    letter-spacing: 2px;
  }
  .portfolio h3 {
    margin-bottom: 5px;
  }
  .project button {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    border-radius: 3%;
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
    border: none;
    transition: 0.5s;
  }
  .contactsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: fit-content;
    margin: 40px auto;
    gap: 20px;
    text-align: center;
  }
  .contactsection button {
    width: 150px;
    height: 50px;
    border-radius: 3%;
    letter-spacing: 1px;
    border: none;
    transition: 0.5s;
    background-color: rgb(11, 137, 240);
    gap: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contactbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  button {
    background-color: rgb(11, 137, 240);
  }
  .contactsection h2 {
    font-size: 32px;
    letter-spacing: 2px;
  }
  footer {
    width: 100%;
    margin: auto;
    padding: 0;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #010b11;
  }
  .footercontent {
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
  }
  .footercontent p {
    font-size: 12px;
    font-weight: lighter;
    color: gray;
  }
  .footer-socials img {
    width: 30px;
    height: 30px;
  }
  .footer-socials {
    height: 40px;
    padding: 20px 0 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  #footer-logo {
    color: #00abf0;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .hamburger {
    visibility: hidden;
  }
}

/*FOR MAJOR TABLETS*/
/* @media (max-width: 768px) and () {
  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 70%;
    min-width: 100%;
    height: fit-content;
    margin-bottom: 30px;
    border: 2px solid rgb(37, 135, 201);
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
  }
} */

/*FOR SCREEN SIZES FROM AND BELOW AN IPAD OR TABLET*/

@media (max-width: 850px) {
  *,
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  #root {
    margin: 0 auto;
    background-color: #081b29;
    color: #ededed;
    font-family: "Poppins", sans-serif;
  }

  /*NAVBAR ANIMATION*/

  @keyframes slideInRight {
    from {
      transform: translateX(300px);
    }
    to {
      transform: translateX(0);
    }
  }

  .nav {
    width: 100%;
    height: fit-content;
    padding: 20px;
    margin: 0;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
  }

  nav {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* HERO SECTION ANIMATION*/
  @keyframes slideInLeft {
    from {
      transform: translateX(-300px);
    }
    to {
      transform: translateX(0);
    }
  }

  .logo {
    font-size: min(30px,20px); 
    font-weight: 600;
    color: #ededed;
    text-decoration: none;
  }
  .nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 11, 18, 0.7);
    top: 0;
    z-index: 10;
    width: 100vw;
    height: fit-content;
    margin: auto;
    flex-direction: column;
    right: -2000px;
    transition: 0.5s;
  }
  ul.active {
    left: 0;
    right: 0;
  }
  li {
    list-style-type: none;
    text-align: center;
    padding: 8px;
    margin: auto;
  }
  ul li a {
    text-decoration: none;
    text-align: center;
    color: #ededed;
    font-size: 25px;
    transition: 0.3s;
  }
  ul li a:hover {
    color: #00abf0;
    transition: 0.5s;
    margin-right: 8px;
  }
  .hamburger {
    visibility: visible;
    display: block;
    z-index: 10000;
  }
  .hamburger img {
    width: 45px;
    height: 40px;
  }
  .herosection {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: fit-content;
    margin: auto;
    gap: 50px;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0;
  }
  .homeimg {
    height: 100%;
    width: 50%;
  }
  .homeimg img {
    width: 100%;
    height: 100%;
    border-radius: 20%;
    opacity: 0.7;
  }
  .herobio {
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
  }
  .herobio h1 {
    font-size: min(47px,40px);
    font-weight: 700;
  }
  .herobio h2 {
    font-size: min(42px,30px);
    font-weight: 700;
    color: #00abf0;
  }
  .herobio p {
    font-size: 25px;
    margin: 15px 0 30px 0;
    line-height: 55px;
    font-weight: lighter;
  }
  .herobio button {
    width: 300px;
    height: 80px;
    border-radius: 3%;
    text-align: center;
    font-size: min(25px,20px);
    font-weight: bold;
    border: none;
    transition: 0.5s;
    background-color: rgb(11, 137, 240);
  }

  .herobio button a{
     text-decoration: none;
  }

  .btn {
    display: flex;
    width: 100%;
    margin: 0;
    gap: 20px;
  }

  .socials {
    margin-top: 40px;
    height: 40px;
    padding: 20px 0 20px 0;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .socials img {
    width: 50px;
    height: 50px;
  }
  .skills {
    position: relative;
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 30px auto;
    text-align: center;
    gap: 20px;
    /* background-color: aquamarine;*/
  }
  .technologies h2 {
    font-size: min(50px,30px);
    font-weight: 700;
    color: #00abf0;
    margin-bottom: 10px;
    margin-top: 50px;
  }
  .technologies {
    width: 100%;
    height: fit-content;
  }

  .skillsimg {
    display: flex;
    gap: 10px;
    margin-top: 30px;
    height: fit-content;
    padding: 10px 0 10px 0;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .htmlicon,.cssicon,.githubicon,.jqueryicon,.jsicon,.bootstrapicon,.reacticon{
    min-width: 20px;
    max-width: 30px;
    min-height: 20px;
    max-height: 30px;
    justify-content: center;
  }

  .about {
    width: 80%;
    margin: 50px auto;
    padding: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .about h2 {
    font-size: 40px;

  }
  .introhead {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .subtitle {
    color: #00abf0;
    font-size: 25px;
  }
  .img-bio {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  .bioimg {
    width: 55%;
    height: 350px;
    margin-bottom: 20px;
  }
  .bioimg img {
    width: 100%;
    min-height: 80%;
    max-height: 90%;
    border-radius: 20%;
    opacity: 0.7;
  }
  .bio {
    font-weight: lighter;
    font-size: 25px;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .bio button {
    max-width: 200px;
    min-width: 150px;
    height: 75px;
    margin-top: 20px;
    border-radius: 5%;
    text-align: center;
    font-size: 25px;
    letter-spacing: 1px;
    border: none;
    transition: 0.5s ease-in-out;
  }
  .portfolio {
    width: 100%;
    margin: auto;
    padding: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: min(90%,80%);
    height: fit-content;
    margin-bottom: 30px;
    gap: 20px;
    border: 2px solid rgb(37, 135, 201);
    padding: 20px;
    border-radius: 10px;
  }
  .projectimage {
    width: 100%;
    height: 300px;
    border-radius: 5px;
  }
  .project-left {
    width: 100%;
  }
  .project-right {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* font-size: 25px; */
    font-weight: lighter;
  }
  .portfolio h2 {
    font-size: 40px;
    letter-spacing: 2px;
  }
  .portfolio h3 {
    margin-bottom: 5px;
  }
  .project button {
    font-size: 25px;
    max-width: 200px;
    min-width: 150px;
    height: 70px;
    margin-top: 20px;
    border-radius: 3%;
    text-align: center;
    letter-spacing: 1px;
    border: none;
    font-weight: bold;
    transition: 0.5s;
  }
  .contactsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: fit-content;
    margin: 40px auto;
    gap: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
  }
  .contactsection button {
    min-width: 100px;
    max-width: 150px;
    height: 80px;
    border-radius: 3%;
    font-size: 25px;
    font-weight: lighter;
    border: none;
    background-color: rgb(11, 137, 240);
    gap: 2px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  
  .contactbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  button {
    background-color: rgb(11, 137, 240);
  }
  .contactsection h2 {
    font-size: 32px;
    letter-spacing: 2px;
  }
  .emailicon,.messageicon{
    display: none;
  }
   
  footer {
    width: 100%;
    margin: auto;
    padding: 0;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #010b11;
  }
  .footercontent {
    width: 80%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    gap: 15px;
  }
  .footercontent p {
    font-size: 15px;
    font-weight: lighter;
    color: gray;
  }
  .footer-socials img {
    width: 30px;
    height: 30px;
  }
  .footer-socials {
    height: 40px;
    padding: 20px 0 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  #footer-logo {
    color: #00abf0;
    font-size: 32px;
  }
  .contactbtn a {
    text-decoration: none;
  }
}